* {
    margin: 0;
    padding: 0;
    font-family: Verdana,
}
:root {
    --jaune: #cf960c;
    --bleu-claire: #394155;
    --noir:#030722; 

}
.espace{
    margin-top: 100px;
}
header {
    height: 100;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.espace{
    margin-top: 100px;
}
.nav1{
    display: flex;
    justify-content: space-between;
    background-color: var(--noir);
    color: #fff;
    height: 40px;

}
.nav1 p{
    display: inline;
    padding:20px;
}
.adresse i{
    color: var(--jaune);
}
.nav2{
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    height: 60px;
}
.nav2 a{
    display: inline-block;
    padding-right: 15px;
}
.logo{
    margin-left: 20px;
}
.lien a{
    text-decoration: none;
    color: black;
    margin-bottom: 9px;
    margin-top: 9px;
}
.image img{
    width: 100%;
    height: 350px;
}
.about{
    display: flex;
    margin-top: 30px;
}
.infos{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    flex: 1 700px;
    margin-right: 10px;
}
.infos p{
    font-family: Verdana;
    font-size: 24px;
    text-align: justify;
}
.photo{
    flex: 1 300px;
    padding-right: 30px;
}
.photo img{
    width: 100%;
}
progress{  
    width: 300px;  
    height: 10px; 
}
progress::-moz-progress-bar{
    background-color: var(--jaune);
}
footer{
background-color: var(--noir);
width: 100%;
color: #fff;
}
.services{
   text-align: center;
}
.details{
    display: flex;
    justify-content: space-between;
}
.details i{
    color: var(--jaune);
}
